<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeQuestAPI</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav id="nav-bar">
        <%- include('./partials/nav.ejs') %>
    </nav>
    <div>
        <div>
            <div class="image-container">
                <p class="pb-16 text-2xl font-bold mt-4 text-white" >
                    THE CODERS
                </p>
                <div class="image-grid">
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/aaron.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Aaron</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/fullstackaaronsanchezbelber" target="_blank"><img
                                            src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/aaron-sanchez-belber/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/andrey.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Andrey</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/SharmarAndrey" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/andrii-sharmar/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/dani.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Dani</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/dnlslcd" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="" target="_blank"><img src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/daud.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Daud</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/Daud1979" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/daudperaltaadan/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <div class="main-user-block">
                                <img class="headshot" src="./images/pili.png" alt="team-member" />
                                <div class="name-container">
                                    <p class="name-element">Esteban</p>
                                    <div class="hidden-element">
                                        <a href="https://github.com/epili50" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                        <a href="https://linkedin.com/in/esteban-piliponsky-kaen" target="_blank"><img
                                                src="./icons/mdi_linkedin.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/eva.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Eva</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/evahuertas" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://linkedin.com/in/evahuertas" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/kevin.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Kevin</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/kevmhughes" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/kevin-michael-hughes/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/lorena_.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Lorena</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/crimanlor" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/lorena-criado/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/maria.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Maria</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/MariaChmielinska" target="_blank"><img
                                            src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/maria-chmielinska-984423123" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/nidaa.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Nidaa</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/nidaakb" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/nidaa-kabbaj/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/oscar.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Oscar</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/omiras" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/mirasortiz/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/balam.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Balam</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/ekbalam11" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/balamcastro/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/vanya.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Vanya</p>
                                <div class="hidden-element">
                                    <a href=" https://github.com/VanyaMark" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/vanyamarkova/" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/zulema_.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Zulema</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/zulcas" target="_blank"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/zulema-casado" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/script.js"></script>
</body>

</html>